.post-body img {
  max-height: 100vh;
  max-width: 100%;
  margin: 1rem 0;
}

.logo {
  height: 3rem
}

.fa-color {
  color: #ef4767;
}

.bg-pink {
  background-color: #ef4767;
}

.fa-color:hover,
.fa-color:focus,
.fa-color:active {
  color: #e34d4c;
}

.card-hover {
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.card:hover .card-hover {
  visibility: visible;
  opacity: 1;
}

.card-hover:hover,
.card-hover:focus,
.card-hover:active {
  text-decoration: none;
}

.post {
  text-align: center;
  margin: 1rem 0;
}

.tags a {
  text-decoration: none;
  display: inline-block;
  margin-top: .5rem;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;

  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.tags a {
  color: #ef4767;
  background-color: transparent;
  background-image: none;
  border-color: #ef4767;
}

.tags a:hover,
.tags a:focus,
.tags a:active {
  color: #fff;
  background-color: #e34d4c;
  border-color: #e34d4c;
  text-decoration: none;
}

